@font-face {
	font-family: 'Gotham';
	src: url("/font/Gotham-Book.woff2") format("woff2"),
		url("/font/Gotham-Book.tff") format("truetype")
}


/* Styles généraux pour le body */
body {
    margin: 0;
    font-family: 'Gotham', sans-serif;
    color: #222222;
    background-color: #F4EFE9;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Style pour le bandeau */
.bandeau {
    background-color: #839771;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Style pour le contenu du bandeau */
.bandeau-message {
    display: inline-block;
    white-space: nowrap;
}

/* Style pour le header */
header {
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin-top: 50px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.burger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.main-nav {
    flex: 1;
    margin-left: 50px;
}

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin: 0 20px;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover {
    color: #859477;
}

.header-icons {
    display: flex;
    gap: 20px;
}

.header-icon img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

/* Assurez-vous que les icônes ont un espace suffisant */
.header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style pour la barre de recherche */
.search-bar {
    text-align: center;
    margin-top: 10px;
}

.search-bar input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-bar button {
    padding: 10px 15px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.search-bar button:hover {
    background-color: #555;
}

/* Styles pour le conteneur du panier */
.cart-container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.cart-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Styles pour les articles du panier */
.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.cart-item-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.cart-item-details {
    flex-grow: 1;
    margin-left: 15px;
}

.cart-item-details h3 {
    margin: 0;
    font-size: 18px;
}

.cart-item-details p {
    margin: 5px 0;
}

.btn-remove {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-remove:hover {
    background-color: #c0392b;
}

.item-quantity {
    width: 50px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    margin-left: 15px;
}


/* Styles pour le total du panier */
.total-price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

/* Style pour le bouton de paiement */
.btn-checkout {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-checkout:hover {
    background-color: #555;
}

/* Styles pour le footer */
.site-footer {
    background-color: #49583C;
    color: #FFFFFF;
    padding: 20px;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-info, .footer-links, .footer-social {
    flex: 1;
    margin: 0 20px;
}

.footer-info h3, .footer-links h3, .footer-social h3 {
    margin-top: 0;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 10px 0;
}

.footer-links a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    align-items: center;
}

.footer-social .social-icon {
    margin-right: 15px;
}

/* Media Queries pour la réactivité */
@media (max-width: 610px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .burger-menu {
        display: block;
    }

    .main-nav {
        display: none;
        width: 100%;
    }

    .main-nav.active {
        display: block;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .header-icons {
        margin-top: 10px;
    }

    .search-bar {
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    .search-bar input[type="text"] {
        width: calc(100% - 120px); /* Ajuster la largeur de l'input */
    }

    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .product-images {
        flex-direction: column;
        align-items: center;
    }

    .small-images {
        display: flex;
        flex-direction: column; /* Assure que les images sont en colonne */
        gap: 10px;
        justify-content: flex-end; /* Alignement au bas de la main-image */
        align-items: center;
    }

    .small-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        cursor: pointer;
    }

    .main-image-container {
        width: 100%;
        height: auto;
    }

    .product-details {
        text-align: left;
        width: 90%;
        align-self: center; /* Centrer les détails sur les petits écrans */
        margin: auto;
        
}
}

@media (min-width: 611px) {
    .header-content {
        flex-direction: row;
        align-items: center;
    }

    .burger-menu {
        display: none;
    }

    .main-nav {
        display: block;
    }

    .product-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .product-images {
        flex-direction: column;
        align-items: flex-start;
    }

    .small-images {
        flex-direction: column; /* Assure que les images sont en colonne */
        gap: 10px;
        justify-content: flex-end; /* Alignement au bas de la main-image */
        align-items: center;
        margin-top: auto;
    }

    .small-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        cursor: pointer;
    }

    .main-image-container {
        width: 400px;
        height: 400px;
    }

    .product-details {
        text-align: left;
        margin-left: 10px; /* Adds space between images and details */
        align-self: center; /* Centre les détails verticalement */
    }
}
